@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-heading: "Bebas Neue", sans-serif;
    --font-common: "Raleway", sans-serif;

    --color-dom: #ffe800;
    --color-ton: #ff9ae6;
    --color-light: #ffffff;
    --color-light-gray: #f8f8f8;
    --color-dark: #1e1e1e;
}

@layer base{
    * {
        @apply font-common
    }
    h2 {
        @apply flex items-center gap-1 text-3xl font-heading underline decoration-dom decoration-3 tracking-wide
    }
    h3 {
        @apply flex items-center gap-1 text-xl font-medium text-nowrap
        before:w-full before:h-[2px] before:bg-ton
        after:w-full after:h-[2px] after:bg-ton
    }
    a {
        
        @apply font-semibold hover:underline
    }
}

@layer components{
    .btn {
        @apply bg-ton py-2 px-4 gap-2 rounded-md uppercase font-medium text-xs w-fit hover:text-light no-underline active:text-light
    }
}