---
import Layout from "../layouts/Layout.astro";
import { addMessage } from "../../backend/backend.mjs";


if (Astro.request.method === "POST") {
    const data = await Astro.request.formData();
    console.log(data);
    const resp = await addMessage(data);
    console.log(resp);
    return Astro.redirect("/contact?success=1");
}
---

<Layout
    titre="Nous contacter"
    photo_URL="https://paolo-vincent.fr/photo/telephone-fixe.avif"
>
    <section class="section lg:col-span-3">
            <h2>On vous écoute</h2>
            <p>
                N'hésitez pas à nous contacter en cas de question, de doute, de
                requête ou quoi que ce soit d'autre. Nous ne sommes pas
                disponibles tout le temps mais nous ferons de notre mieux pour
                vous répondre au plus vite.
            </p>
            <p>
                Vous pouvez nous joindre par téléphone au <strong>01 23 45 67 89</strong>.
            </p>
            <p>
                Ou par e-mail grâce à l'adresse <strong>CinéFlash25Ornans@gmail.com</strong>.
            </p>
            <p>
                Ou encore par lettre si vous êtes plutôt vieu jeu : <strong>22 Rue Pierre D'Ornans</strong>.
            </p>
            <p>
                Enfin vous pouvez nous joindre directement par ce <strong>formulaire de contact</strong>.
            </p>
    </section>
    <section class="section lg:col-span-3">
            <h3>Formulaire de contact</h3>
            {Astro.url.searchParams.get("success") ? <p class="text-center">Message envoyé avec succès !</p> : ""}
            <form class="flex flex-col gap-4"
            action="/contact" method="post" enctype="multipart/form-data">
                <input type="text" name="nom_prenom" required placeholder="Nom et prénom" class="border p-2 rounded-md w-full">
                <input type="email" name="email" required placeholder="Adresse email" class="border p-2 rounded-md w-full">
                <textarea name="message" required rows="5" placeholder="Votre message" class="border p-2 rounded-md w-full"/>
                <input type="submit" value="Envoyer le formulaire" class="btn w-full text-base" />
            </form>
    </section>
</Layout>
