---
import Layout from "../layouts/Layout.astro";
---

<Layout titre="Ciné Flash 25" photo_URL="https://paolo-vincent.fr/photo/montagne.avif">
    <h2>Titre beaucoup plus du cul de dieu c'est chaud</h2>
    <h3>Titre très long du cul</h3>
</Layout>