---
const {titre, photo_URL, infos} = Astro.props;
---

<div class="relative flex -mx-8 -mt-8 mb-8 h-[300px] text-light">
    <h1 class="absolute self-center text-center w-full px-5 font-heading text-4xl z-1">{titre}</h1>
    {photo_URL ? <img class="object-cover w-full brightness-50" src={photo_URL} alt=""> : <div class="bg-dark w-full h-full"></div>}
    {infos ? 
        <div class="absolute flex w-full self-end pb-16 justify-center gap-8 z-1">
            {infos.map((info) => 
                <p class="font-semibold">{info}</p>
            )}
        </div>
        :
        ""
    }
</div>