---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";

const { title } = Astro.props;
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `${title} — Ciné Flash 25` : "Ciné Flash 25"}</title>
    </head>

    <body>
        <Header />
        <main class="p-10">
            <slot />
        </main>
        <Footer />
    </body>
</html>
